{% extends 'shopping/main.html' %}
{% load static %}

{% block content %}

    <div class="row">
        {% for product in products %}

        <div class="col-lg-4">
            {% comment %} <img class="thumbnail" src="http://127.0.0.1:8000/images/download.jpg"/> {% endcomment %}
            {% comment %} <img class="thumbnail" src="{% static 'images/download.jpg' %}" /> {% endcomment %}
            <img class="thumbnail" src="{{product.imageURL}}" alt="">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>  
                <button data-product={{product.id}} data-action="add" type="button" class="btn btn-outline-primary update-cart">Add to Cart</button>
                <a class="btn btn-primary" href="#" role="button">View</a>
                <h4 style="display:inline-block; float:right">Rs. {{product.price}}</h4>

            </div>
            <br>
        </div>

        {% endfor %}
       
    </div>

{% endblock content %}